/* index.html */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, #802dd2, #4a2d86, #272145);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}