/*
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(190deg, #BE5EED 0%, #802dd2 35%, #4a2d86 65%, #272145 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
}
*/